<!DOCTYPE html>
<html lang="es">
<head>
  <base href="/">
  <title>Conversation Chat App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="conversation.svg" />
  <meta property="og:title" content="Conversation Chat Simple" />
  <meta property="og:description" content="Sample application that shows how to use the Conversation API to identify user intents" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
</head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">laboEspacio</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>
<footer>
  <a href="/faq">FAQ</a>
  <a href="/about">Acerca</a>
  <a href="/contact">Contacto</a>
</footer>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>
  <script type="text/javascript" src="/js/demo.js"></script>
  <script type="text/javascript" src="/js/personality.js"></script>
  <script type="text/javascript" src="/js/string-utils.js"></script>
  <script type="text/javascript" src="/js/i18n.js"></script>
  <script type="text/javascript" src="/js/textsummary.js"></script>
  <script type="text/javascript">
    textSummary.init('json');
  </script>
</html>
