<!DOCTYPE html>
<html lang="es">
<head>
  <title>laboEspacios - {{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
</head>
  <body>
    <nav>
      <a href="/">Inicio</a>
      <a href="/candidate">Candidato</a>
      <a href="/employer">Empleador</a>
    </nav>
{{{body}}}
  <footer>
    <a href="/faq">FAQ</a>
    <a href="/about">Acerca</a>
    <a href="/contact">Contacto</a>
  </footer>
  </body>
</html>
