<!DOCTYPE html>
<html lang="es">
<head>
  <base href="/">
  <title>Conversation Chat App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="conversation.svg" />
  <meta property="og:title" content="Conversation Chat Simple" />
  <meta property="og:description" content="Sample application that shows how to use the Conversation API to identify user intents" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/app.css">
</head>
  <body>
{{{body}}}
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>
  <script type="text/javascript" src="/js/demo.js"></script>
  <script type="text/javascript" src="/js/personality.js"></script>
  <script type="text/javascript" src="/js/string-utils.js"></script>
  <script type="text/javascript" src="/js/i18n.js"></script>
  <script type="text/javascript" src="/js/textsummary.js"></script>
  <script type="text/javascript">
    textSummary.init('json');
  </script>
</html>
