<h1>Agregar oferta</h1>
<form action="/verify/signup" method="post">
  <p>
    <input type="text" name="captcha" placeholder="50 + 50">
  </p>
  <p>
    <input type="text" name="companyName" placeholder="Nombre de la Compañia">
  </p>
  <p>
    <input type="email" name="email" placeholder="Correo Electrónico">
  </p>
  <p>
    <input type="password" name="password" placeholder="Contraseña">
  </p>
  <p>
    <button type="submit" name="button">Registrarse</button>
  </p>
</form>
<p>info sobre beneficios de la aplicacion.</p>
