<h1>Agregar oferta</h1>
<form action="/employer/registerOffer" method="post">
  <p>
    Cargo
    <input type="text" name="offerName" placeholder="Programador">
  </p>
  <p>
    Competencias
    <input type="text" name="competencies" placeholder="Python, Java, HTML">
  </p>
  <p>
    Experiencia (Años)
    <input type="number" name="minExperience" placeholder="Experiencia mínima">
    <input type="number" name="maxExperience" placeholder="Experiencia máxima">
  </p>
  <p>
    Salario
    <input type="number" name="salary" placeholder="Salario">
  </p>
  <p>
    Certificados
    <input type="text" name="certificates" placeholder="Certificado en seguridad informática, Apple teacher certified">
  </p>
  <p>
    <button type="submit" name="button">Registrarse</button>
  </p>
</form>
<p>info sobre beneficios de la aplicacion.</p>
