<h1>Doy mi consentimiento, para que se me realice una prueba para valorar mi estado emocional y en caso de que sea necesario reportarlo al Municipio de Medellín para la intervención que sea beneficiosa para mi salud, además se me efectuará una evaluación de mi personalidad para fines laborales; lo anterior demuestra que se me explicó la naturaleza y la finalidad de las valoraciones de orden psicológico y que éstas han sido explicadas por LaboESpacio y he recibido la suficiente información y aclaraciones que he solicitado con respecto al proceso.
Lugar y fecha:

Firma del Candidato</h1>
<input type="checkbox" name="" value="">Accepto
<a href="/candidate/chat">Empezar</a>
