<h1>subir hoja de vida</h1>
<form class="" action="/candidate/upload/handler" method="post" enctype="multipart/form-data">
  <p>
    <input type="file" name="resume">
  </p>
  <p>
    <button type="submit" name="button">Subir</button>
  </p>
</form>
