<h1>ofertas de trabajo</h1>
<div class="row">
<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Programador</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Competencias:</li>
        <ul>
            <li>Python</li>
            <li>java</li>
            <li>nodejs</li>
        </ul>
        <li>min exp: <strong>1</strong>  | max exp: <strong>2</strong> </li>
        <li>Salario: 1 millon</li>
        <li>Certificados:</li>
          <ul>
            <li>HTML</li>
            <li>Python</li>
          </ul>

      </ul>
      <a href="/candidate/report" class="button button-primary">Aplicar</a>
    </div>

  </div>
</div>
<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Programador</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Competencias:</li>
        <ul>
            <li>Python</li>
            <li>Ruby</li>
            <li>nodejs</li>
        </ul>
        <li>min exp: <strong>2</strong>  | max exp: <strong>5</strong> </li>
        <li>Salario: 5 millon</li>
        <li>Certificados:</li>
          <ul>
            <li>XHTML</li>
            <li>Perl</li>
          </ul>
      </ul>
      <a href="/candidate/report" class="button button-primary">Aplicar</a>
    </div>
  </div>
</div>
</div>
