<div class="col-lg-6 col-lg-offset-3 well bs-component">
  <form class="form-horizontal" action="/verify/signin" method="post">
    <fieldset>
      <legend>Login</legend>
        <p>
          <input type="email" name="email" placeholder="Correo Electrónico">
        </p>
        <p>
          <input type="password" name="password" placeholder="Contraseña">
        </p>
        <br>
        <p>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </p>
    </fieldset>
  </form>
</div>
