<h1>Sign Up</h1>
<form action="/employer/signup/handler" method="post">
  <p>
    <input type="email" name="email" placeholder="Correo Electrónico">
  </p>
  <p>
    <input type="password" name="password" placeholder="Contraseña">
  </p>
  <p>
    <button type="submit" name="button">Registrarse</button>
  </p>
</form>
<p>info sobre beneficios de la aplicacion.</p>
