/*------------------------------------*\
  #Stylesheet-751-970px
\*------------------------------------*/

nav{
	display: none;
}

.hamburger-nav{
	position: fixed;
	display: block;
	width: 100vw;
  	height: 100vh;
	a{
		.logo-svg-location-dropdown{
			display: block;
			margin: auto;
		}
	}
}