/*
Stylesheet: Colors
*/

/*********************
COLORS
*********************/

$orange : rgba(244,83,28,1);
$mustard : rgba(193,93,0,1);
$transparent-sienna : rgba(61,29,18,.6);

.orange-color{
	color: $orange;
}

.grey-color{
	color: rgba(58,58,58,1);
}

.grey-10-color{
	color: rgba(215,215,215,1);
}
/* ======================== bg colors ======================== */
.transparent-white{
  background-color: rgba(255,255,255,.1);
}

.transparent-orange{
  background-color: rgba(244,83,28,.3);
}

.orange-bg{
	background-color: rgba(255,117,62,1);
}

.mustard-bg{
	background-color: rgba(227,177,91,1);
}

.transparent-mustard{
  background-color: rgba(193,93,0,.3);
}

.transparent-sienna{
  background-color: $transparent-sienna;
}