/*
Stylesheet: Menu
*/

.menu-page-wrapper-inside{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	color: rgba(58,58,58,1);
	h1{
		font-family: "essonnes-headline",sans-serif;
		text-transform: uppercase;
		font-style: italic;
	}	
}