// Variables

//COLORS
$orange:#FF6C45;
$mustard:#E5B35B;

//FONTS

$base-font-family: "azo-sans-web",sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

//Query sizes

$sLE-min: 100px;
$sLE-max: 400px;

$mLE-min:401px;
$mLE-max:750px;

$lLE-min:751px;
$lLE-max:1110px;

$xLLE-min:1111px;
$xLLE-max:1590px;

$kingLE:1591px;
